<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>softUpdate</key>
	<dict>
		<key>methods</key>
		<string>licai.user.soft.upgrade</string>
	</dict>
	<key>getQuotes</key>
	<dict>
		<key>methods</key>
		<string>licai.user.something.get</string>
	</dict>
	<key>bankCodeGet</key>
	<dict>
		<key>methods</key>
		<string>licai.user.bank.code.get</string>
	</dict>
	<key>bankQpply</key>
	<dict>
		<key>methods</key>
		<string>licai.user.bank.apply</string>
	</dict>
	<key>userfriendQuery</key>
	<dict>
		<key>methods</key>
		<string>licai.user.friend.query</string>
	</dict>
	<key>coupontiyanUse</key>
	<dict>
		<key>methods</key>
		<string>licai.couponr.tiyan.use</string>
	</dict>
	<key>bankBandAgain</key>
	<dict>
		<key>methods</key>
		<string>licai.user.bank.band.again</string>
	</dict>
	<key>bankUnband</key>
	<dict>
		<key>methods</key>
		<string>licai.user.bank.unband</string>
	</dict>
	<key>paypwdVerify</key>
	<dict>
		<key>methods</key>
		<string>licai.user.payPwd.verify</string>
	</dict>
	<key>bankinfoQuery</key>
	<dict>
		<key>methods</key>
		<string>licai.user.bankInfo.query</string>
	</dict>
	<key>replistQuery</key>
	<dict>
		<key>methods</key>
		<string>licai.user.rep.list.query</string>
	</dict>
	<key>translistQuery</key>
	<dict>
		<key>methods</key>
		<string>licai.user.trans.list.query</string>
	</dict>
	<key>transactionSave</key>
	<dict>
		<key>methods</key>
		<string>licai.user.transaction.save</string>
	</dict>
	<key>repaymentQuery</key>
	<dict>
		<key>methods</key>
		<string>licai.user.repayment.list.query</string>
	</dict>
	<key>investmentDetailquery</key>
	<dict>
		<key>methods</key>
		<string>licai.user.investment.details.query</string>
	</dict>
	<key>investmentlistQuery</key>
	<dict>
		<key>methods</key>
		<string>licai.user.investment.list.query</string>
	</dict>
	<key>projectpurchase</key>
	<dict>
		<key>methods</key>
		<string>licai.project.purchase</string>
	</dict>
	<key>getrecommend</key>
	<dict>
		<key>methods</key>
		<string>licai.user.recommend.get</string>
	</dict>
	<key>articlefind</key>
	<dict>
		<key>methods</key>
		<string>licai.user.article.find</string>
	</dict>
	<key>projectconfirm</key>
	<dict>
		<key>methods</key>
		<string>licai.project.confirm</string>
	</dict>
	<key>querycouponr</key>
	<dict>
		<key>methods</key>
		<string>licai.couponr.list.query</string>
	</dict>
	<key>investmentList</key>
	<dict>
		<key>methods</key>
		<string>licai.investment.list.query</string>
	</dict>
	<key>questList</key>
	<dict>
		<key>methods</key>
		<string>licai.problem.list.query</string>
	</dict>
	<key>queryDetail</key>
	<dict>
		<key>methods</key>
		<string>licai.project.details.query</string>
	</dict>
	<key>queryList</key>
	<dict>
		<key>methods</key>
		<string>licai.project.list.query</string>
	</dict>
	<key>integralhistory</key>
	<dict>
		<key>methods</key>
		<string>licai.user.integral.history</string>
	</dict>
	<key>siginIntegral</key>
	<dict>
		<key>methods</key>
		<string>licai.user.integral.signIn</string>
	</dict>
	<key>getIntegral</key>
	<dict>
		<key>methods</key>
		<string>licai.user.integral.get</string>
	</dict>
	<key>updatePayPwd</key>
	<dict>
		<key>methods</key>
		<string>licai.user.payPwd.update</string>
	</dict>
	<key>findPayPwd</key>
	<dict>
		<key>methods</key>
		<string>licai.user.payPwd.find</string>
	</dict>
	<key>updateLoginPwd</key>
	<dict>
		<key>methods</key>
		<string>licai.user.loginPwd.update</string>
	</dict>
	<key>userInfo</key>
	<dict>
		<key>methods</key>
		<string>licai.user.info</string>
	</dict>
	<key>updatePhone</key>
	<dict>
		<key>methods</key>
		<string>licai.user.phone.update</string>
	</dict>
	<key>queryBank</key>
	<dict>
		<key>methods</key>
		<string>licai.user.bank.query</string>
	</dict>
	<key>queryUserInfo</key>
	<dict>
		<key>methods</key>
		<string>licai.user.info.query</string>
	</dict>
	<key>findloginPwd</key>
	<dict>
		<key>methods</key>
		<string>licai.user.loginPwd.find</string>
	</dict>
	<key>bindBank</key>
	<dict>
		<key>methods</key>
		<string>licai.user.bank.band</string>
	</dict>
	<key>paypwd</key>
	<dict>
		<key>methods</key>
		<string>licai.user.payPwd.set</string>
	</dict>
	<key>register</key>
	<dict>
		<key>methods</key>
		<string>licai.user.register</string>
	</dict>
	<key>login</key>
	<dict>
		<key>methods</key>
		<string>licai.user.login</string>
	</dict>
	<key>getcode</key>
	<dict>
		<key>methods</key>
		<string>licai.user.code.get</string>
	</dict>
</dict>
</plist>
